<div class="container">
  <div id="news" class="section">
    <div class="content">
      <a href="#top"><h1>News</h1></a>
    </div>
    <div class="overlay"></div>
  </div>
  <div id="transportation" class="section">
    <div class="content">
    <a href="#companies"><h1>Transportation</h1></a>
    </div>
    <div class="overlay"></div>
  </div>
  <div id="about" class="section">
    <div class="content">
      <a href="#top"><h1>About</h1></a>
    </div>
    <div class="overlay"></div>
  </div>
</div>

<a id="companies"><h3>All Companies</h3></a>

<div class='all-container welcome-container'>
  <% @companies.each do |company| %>
    <div class='single-container welcome-index'>
      <h3><%= link_to company.name, user_company_path(company.user, company) %></h3>
      Phone: <%= company.phone %><br>
      Email: <%= company.email %><br>
      Website: <%= company.website %><br>
      Description: <%= company.description %><br><br>
      <div class='images-container'>
        <% company.images.each do |image| %>
          <%= image_tag image.image.url, size: "200x150" %>
        <% end %>
      </div>
    </div><br>
  <% end %>
</div>