<br><br><h3>Edit Company<h3>

  <div class='all-container'>
    <div class='single-container'>
      <%= form_for [:user, @company], html: {multipart: true} do |f| %>
        <%= f.label           :name %>
        <%= f.text_field      :name %>
        <%= collection_select :company, :states, State.all, :id, :name %>
        <%= f.label           :phone %>
        <%= f.text_field      :phone %>
        <%= f.label           :email %>
        <%= f.text_field      :email %>
        <%= f.label           :website %>
        <%= f.text_field      :website %>
        <%= f.label           :description %>
        <%= f.text_field      :description %><br>
        <div class='images-container'>
          <% @company.images.each do |image| %>
            <%= image_tag image.image.url, size: "200x150" %><br>
            <%= link_to "Delete", image_path(image), method: :delete %><br>
          <% end %>
        </div>
        <%= label             :images, "Attach an Image" %><br />
        <%= f.file_field      :images, multiple: true %><br>
        <%= f.file_field      :images, multiple: true %><br>
        <%= f.file_field      :images, multiple: true %><br>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
