<h3>My Companies</h3>
<h3><%= link_to "Add a Company", new_user_company_path(@user) %></h3>


<div class='states-container'>
  <% @companies.each do |company| %>
    <div class='state-container'>
      <p>
        <h3><%= link_to company.name, user_company_path(@user, company) %></h3><br>
        <%= company.created_at.strftime("Added %m/%d/%Y") if company.created_at %><br><br>
        Phone: <%= company.phone %><br>
        Email: <%= company.email %><br>
        Web: <%= company.website %><br>
        Description:<br> <%= company.description %><br>
        <%= link_to "Delete", user_company_path(@user, company), method: :delete  %>
        <%= link_to "Edit", edit_user_company_path(@user, company) %>
      </p>
    </div>
  <% end %>
</div>



