<h3>All Companies</h3><br>
<h3><%= link_to "Add a Company", new_user_company_path(@user) %></h3>


<div class='all-container'>
  <% @companies.each do |company| %>
    <div class='single-container'>
      <p>
        <%= link_to company.name, user_company_path(@user, company) %><br>
        <%= company.phone %><br>
        <%= company.email %><br>
        <%= company.website %><br>
        <%= company.description %><br>
        <%= link_to "Delete", user_company_path(@user, company), method: :delete  %><br>
        <%= link_to "Edit", edit_user_company_path(@user, company) %><br>
      </p>
    </div>
  <% end %>
</div>



