<h3>New Company for <%= current_user.name %></h3>

<div class='all-container'>
  <div class='single-container'>
    <%= form_for [:user, @company], html: {multipart: true} do |f| %>
      <%= f.label           :name %>
      <%= f.text_field      :name %>
      <div class='state-collection-selectors'>
        <div class='state-collection'><%= collection_select :company, :state_ids, State.all, :id, :name, {prompt: false}, {multiple: true} %></div>
        <div class='state-collection'><%= collection_select :company, :state_ids, State.all, :id, :name, {prompt: false}, {multiple: true} %></div>
        <div class='state-collection'><%= collection_select :company, :state_ids, State.all, :id, :name, {prompt: false}, {multiple: true} %></div>
      </div>
      <%= f.label           :phone %>
      <%= f.text_field      :phone, placeholder: "407-555-5555"   %>
      <%= f.label           :address %>
      <%= f.text_field      :address, placeholder: "1 N Orange ave, Orlando, FL, 31801"  %>
      <%= f.label           :email %>
      <%= f.text_field      :email , placeholder: "example@mail.com"  %>
      <%= f.label           :website %>
      <%= f.text_field      :website, placeholder: "www.example.com"  %>
      <%= f.label           :description %>
      <%= f.text_field      :description %>
      <%= label             :images, "Attach an Image" %><br />
      <div class='image-collection'><%= f.file_field      :images, multiple: true %></div><br>
      <div class='image-collection'><%= f.file_field      :images, multiple: true %></div><br>
      <div class='image-collection'><%= f.file_field      :images, multiple: true %></div><br>
      <%= f.submit %>
    <% end %>
  </div>
</div>