<h3>New Company for <%= current_user.name %></h3>

<div class='all-container'>
  <div class='single-container'>
    <%= form_for [:user, @company], html: {multipart: true} do |f| %>
      <%= f.label           :name %><br>
      <%= f.text_field      :name %><br>
      <%= collection_select :company, :states, State.all, :id, :name %><br>
      <%= f.label           :phone %><br>
      <%= f.text_field      :phone %><br>
      <%= f.label           :email %><br>
      <%= f.text_field      :email %><br>
      <%= f.label           :website %><br>
      <%= f.text_field      :website %><br>
      <%= f.label           :description %><br>
      <%= f.text_field      :description %><br>
      <%= label             :images, "Attach an Image" %><br />
      <%= f.file_field      :images, multiple: true %><br>
      <%= f.submit %>
    <% end %>
  </div>
</div>