
<div class='all-container'>
  <div class='single-container user-show' >
    <h3><%= @company.name %></h3>
    Phone: <%= @company.phone %><br>
    Email: <%= @company.email %><br>
    Website: <%= @company.website %><br><br>
    Description: <%= @company.description %><br><br>
    <% if @company.states.any? %>
      Locations: <br><% @company.states.each do |state| %>
                    <%= state.name %></br>
                <% end %>
    <% end %>
    <% if current_user && (current_user.admin? || current_user.id == @company.user.id) %>
      <br><%= link_to "Delete", user_company_path(@company.user, @company), method: :delete  %><br>
      <% if current_user && current_user.default? %>
        <%= link_to "Edit", edit_user_company_path(@company.user, @company) %><br>
      <% end %>
    <% end %>
    <div class='images-container'>
      <% @company.images.each do |image| %>
        <%= image_tag image.image.url, size: "200x150" %>
      <% end %>

    </div>
  </div>
</div>

    <div class='vehicles-container'>
    <% if current_user && (current_user.id == @company.user.id) %>
        <div class='vehicle-container'>
          <h3><%= link_to "Add New Vehicle", new_user_company_vehicle_path(@company.user, @company) %></h3>
        </div>
      <% end %>
      <% @company.vehicles.each do |vehicle| %>
      <div class='vehicle-container'>
        Category: <%= vehicle.category %></br>
        Seats: <%= vehicle.seats %></br>
        Price: <%= number_to_currency(vehicle.price) %></br>
        <% if current_user && current_user.default? %>
          <%= link_to "Edit", edit_user_company_vehicle_path(@company.user, @company, vehicle) %>
          <%= link_to "Delete", user_company_vehicle_path(@company.user, @company, vehicle), method: :delete %>
        <% end %>
      </div>
      <% end %>
    </div>

