    <h3><%= @company.name %></h3>
<div class='all-container'>
  <div class='single-container user-show' >
    <div class='images-container'>
      <% @company.images.each do |image| %>
        <%= image_tag image.image.url, size: "400x350" %>
      <% end %>
    </div>
    <h4>Phone: <%= @company.phone %></h4>
    <h4>Email: <%= @company.email %></h4>
    <h4>Website: <%= @company.website %></h4>
    <h4>Address:<br> <%= @company.address %></h4>
    <h4>Description:<br> <%= @company.description %></h4>
    <% if @company.states.any? %>
      <h4>Locations:</h4>
      <% @company.states.each do |state| %>
          <%= state.name %></br>
      <% end %>
    <% end %>
    <% if current_user && (current_user.admin? || current_user.id == @company.user.id) %>
      <%= link_to "Delete", user_company_path(@company.user, @company), method: :delete  %>
      <% if current_user && current_user.default? %>
        <%= link_to "Edit", edit_user_company_path(@company.user, @company) %>
      <% end %>
    <% end %>
  </div>
</div>

    <div class='vehicles-container'>
    <% if current_user && (current_user.id == @company.user.id) %>
        <div class='vehicle-container'>
          <h3><%= link_to "Add New Vehicle", new_user_company_vehicle_path(@company.user, @company) %></h3>
        </div>
      <% end %>
      <% @company.vehicles.each do |vehicle| %>
      <div class='vehicle-container'>
        Category: <%= vehicle.category %></br>
        Seats: <%= vehicle.seats %></br>
        Price: <%= number_to_currency(vehicle.price) %></br>
        <% if current_user && current_user.default? %>
          <%= link_to "Edit", edit_user_company_vehicle_path(@company.user, @company, vehicle) %>
          <%= link_to "Delete", user_company_vehicle_path(@company.user, @company, vehicle), method: :delete %>
        <% end %>
      </div>
      <% end %>
    </div>

