
<div class='all-container'>
  <div class='single-container' >
    <h3><%= @company.name %></h3>
    <%= @company.phone %>
    <%= @company.email %>
    <%= @company.website %>
    <%= @company.description %>

    <% @company.images.each do |image| %>
      <p><%= image_tag image.image.url %></p>
    <% end %>
  </div>
</div>
