<h3>All Users</h3>

<div class='states-container'>

    <% @users.reverse_each do |user| %>
      <div class='state-container'>
        <p>
          <h3><%= user.name %></h3>
          Email: <%= user.email %><br><br>
          <% user.companies.each do |company| %>
            <li><%= link_to company.name, user_company_path(user, company) %><br>
            <%= company.created_at.strftime("Member since %m/%d/%Y") if company.created_at %>
            </li>
          <% end %><br>

          <%= link_to "Terminate Account", admin_user_path(user), method: :delete  %>
          </p><br>
      </div>
    <% end %>
</div>