<!DOCTYPE html>
<html>
  <head>
    <title>DiscountBusQuotes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class='nav-bar'>
      <%if current_user && current_user.admin?%>
        <ul>
          <%= link_to "States", admin_states_path %><%= link_to "Logout", logout_path, method: :delete%>
        </ul>
      <%elsif current_user && current_user.default?%>
        <ul>
          <%= link_to "Companies", user_companies_path(user_id: current_user.id ) %><%= link_to "Logout", logout_path, method: :delete%>
        </ul>
      <% else %>

      <%end%>

    </div>

    <%= yield %>
  </body>
</html>
